.header .navbar-brand {
  color: #6e426b;
  &:hover {
    color: #bf35bd;
  }
  &:focus {
    color: #bf35bd;
  }
}
.navbar-nav .mr-auto a {
  color: #6e426b;
  &:hover {
    color: #bf35bd;
  }
  &:focus {
    color: #bf35bd;
  }
}

.user {
  display: flex;
  flex-direction: row-reverse;
  .user-icon {
    height: 2em;
    width: 2em;
    color: #6e426b;
  }
  .user-actions {
    a {
      margin: 5px;
      color: #6e426b;
      transition: color 200ms;

      &:hover {
        color: #bf35bd;
        text-decoration: none;
      }

      &:focus {
        color: #bf35bd;
        text-decoration: none;
      }
    }
  }
}

//.user-actions {
//  a {
//    margin: 0 5px;
//    color: #6e426b;
//    transition: color 200ms;
//
//    &:hover {
//      color: #bf35bd;
//      text-decoration: none;
//    }
//
//    &:focus {
//      color: #bf35bd;
//      text-decoration: none;
//    }
//  }
//}


//.header.navbar-light {
//  background-color: #222222;
//
//  .navbar-brand {
//    color: #6e426b;
//  }
//
//  .nav-link,
//  .user-text a {
//    color: #6e426b;
//    transition: color 200ms;
//
//    &:hover {
//      color: #bf35bd;
//      text-decoration: none;
//    }
//  }
//
//  .user {
//    display: flex;
//    flex-direction: row-reverse;
//    .user-avatar {
//      width: 2em;
//      height: 2em;
//    }
//      .user-icon {
//        height: 2em;
//        width: 2em;
//        color: #6e426b;
//        //width: 30px;
//        //height: 30px;
//        //line-height: 26px;
//        //text-align: center;
//        //color: antiquewhite;
//        //font-weight: bold;
//        //font-size: 15px;
//        //background-color: #6e426b;
//        //border: 2px solid antiquewhite;
//        //border-radius: 3px;
//        //box-shadow: 0 0 0 2px #6e426b;
//      }
