.header .navbar-brand {
  color: #6e426b;
  &:hover {
    color: #bf35bd;
  }
  &:focus {
    color: #bf35bd;
  }
}
.navbar-nav .mr-auto a {
  color: #6e426b;
  &:hover {
    color: #bf35bd;
  }
  &:focus {
    color: #bf35bd;
  }
}

.user {
  display: flex;
  flex-direction: row-reverse;
  .user-icon {
    height: 2em;
    width: 2em;
    color: #6e426b;
  }

}

.user-actions {
  a {
    margin: 5px;
    color: #6e426b;
    transition: color 200ms;

    &:hover {
      color: #bf35bd;
      text-decoration: none;
    }

    &:focus {
      color: #bf35bd;
      text-decoration: none;
    }
  }
}

.user-actions {
  span {
    margin: 5px;
    color: #6e426b;
    transition: color 200ms;
  }
}
