.TagList .tag {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #6e426b;
  margin-right: 5px;
  padding: 2px 4px;
  border-radius: 3px;
}

a {
  color: antiquewhite;
}
a:hover {
  color: hotpink;
}
